# Default ignored files
/../../../../../../../om.javarush.sapotska.cryptoanalyzer/com.javarush.sapotska.cryptoanalyser/.idea/shelf/
/../../../../../../../om.javarush.sapotska.cryptoanalyzer/com.javarush.sapotska.cryptoanalyser/.idea/workspace.xml
